<div>
    <p>Hello <%=firstname%> <%=lastname%></p>
    <h2>Welcome Clockify</h2>
    <p>
      We are proud to have you as a our new employee feel free to mingle with with
      other employees.<%=message%>
    </p>
    <p>Let's Get started</p>
    <p>Before you start woking with kindly check out your new credentials and login to change your password .</p>
    <h3>Once again welcome to Clockify and are proud to have you on board </h3>
  </div>