.signup-layout{
    background-image: url('../../assets/login_background_image.avif');
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .signup-container{
        background-color: white;
        width:90%;
        // height:140vh;
        min-height:140vh;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items:center;
        box-shadow: -15px 11px 55px rgba(0, 0, 0, 0.6)  ; 
        margin-top:4%;

        .signup-form{
            width:95%;
            display: flex;
            flex-direction: column;
            padding:2px;
          
            .logo{
                width:10%;
                height: 10%;
                margin-top:1.5rem;
                margin:auto;
            }

            .label-input-wrapper{
                width:100%;
                // border:2px solid red;
                display: flex;
                justify-content: center;

                .label-input-group {
                    width: 70%;
                    margin: 0.2rem;
                    display: flex;
                    flex-direction: column;
                    label {
                        font-weight: 700;
                      }
                      input,select {
                        width: 90%;
                        padding: 20px 15px;
                        border:none;
                        background-color: #f9f8f8;
                        border-radius: 10px;
                        filter: drop-shadow(0 0 0.75rem rgb(206, 203, 203));
                      }
                      .error-message{
                        color:red;
                        font-size:0.8rem
                      }
                     
    
                     
                  }

                  

                  
            }

            .label-input-group {
                width: 70%;
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 700;
                  }
                  input {
                    width: 90%;
                    padding: 20px 15px;
                    border:none;
                    background-color: #f9f8f8;
                    border-radius: 10px;
                    filter: drop-shadow(0 0 0.75rem rgb(206, 203, 203));
                  }
                  .sign-up-btn {
                    margin: 10px auto;
                    background-color: #4c94b5;
                    color: white;
                    border: none;
                  }
                  .sign-up-btn:hover {
                    background-color: transparent;
                    color: black;
                    border: 2px solid#4C94B5;
                  }
                 

                 
              }



           
            .form-footer{
                display: flex;
                flex-wrap:wrap;

               
              }

           
        }
        



    }
}